@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");

// COLORS
$color-primary: #fb2a63;
$color-secondary: #112f51;
$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #d9d9d9;
$color-grey-dark-1: #838282;
$color-grey-dark-2: #434343;
$color-text: #333333;

// FONT
$font-primary: "Gilroy-Regular", sans-serif;
$font-bold: "Gilroy-Bold", sans-serif;
$default-font-size: 1.6rem;

$heading-font-size-1: 6.4rem;
$heading-font-size-2: 3.6rem;
$heading-font-size-3: 2.4rem;

$paragraph-font-size-1: 2.2rem;
$paragraph-font-size-2: 1.8rem;
$paragraph-font-size-3: 1.4rem;

// MARGIN
$margin-bottom-sm: 2rem;
$margin-bottom-md: 4rem;
$margin-bottom-lg: 8rem;

$margin-top-sm: 2rem;
$margin-top-md: 4rem;
$margin-top-lg: 8rem;

//PADING
$section-padding-sm: 5rem 3rem;
$section-padding-lg: 7rem 8rem;

// FLEX
$flex-gap-sm: 2rem;
$flex-gap-md: 4rem;
$flex-gap-lg: 6rem;

// GRID
$grid-gap-sm: 2rem;
$grid-gap-md: 4rem;
$grid-gap-lg: 6rem;
